name: Build and Copy to Server

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore Media_microservice.csproj

      - name: Build the project
        run: dotnet publish Media_microservice.csproj -c Release -o out

      - name: Copy Dockerfile
        run: cp Dockerfile out/
      
      - name: Create .env file
        run: |
          echo -e "KAFKA_BOOTSTRAP_SERVERS=${{ secrets.KAFKA_BOOTSTRAP_SERVERS }}" > out/.env
          echo -e "KAFKA_GROUP_ID=${{ secrets.KAFKA_GROUP_ID }}" >> out/.env
          echo -e "KAFKA_TOPIC=${{ secrets.KAFKA_TOPIC }}" >> out/.env
          echo -e "MINIO_ENDPOINT=${{ secrets.MINIO_ENDPOINT }}" >> out/.env
          echo -e "MINIO_ACCESS_KEY=${{ secrets.MINIO_ACCESS_KEY }}" >> out/.env
          echo -e "MINIO_SECRET_KEY=${{ secrets.MINIO_SECRET_KEY }}" >> out/.env
          echo -e "MINIO_BUCKET_NAME=${{ secrets.MINIO_BUCKET_NAME }}" >> out/.env

      - name: Archive the output
        run: tar -czvf app.tar.gz -C out .

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-artifact
          path: app.tar.gz

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: app-artifact
          path: ./app

      - name: Setup SSH agent and add private key
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Copy artifact to server via SCP
        run: scp -o StrictHostKeyChecking=no ./app/app.tar.gz ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}:./chat/mediaMicroservice/app.tar.gz

      - name: SSH into server and extract
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} << 'EOF'
          cd ./chat/mediaMicroservice
          tar -xzvf app.tar.gz
          rm app.tar.gz
          cd ..
          sudo docker compose down --rmi all
          sudo docker compose up -d --build
          EOF
